table {
    border-collapse: collapse;
}

td {
width: 10vh;
height: 10vh;
}
th {
background-color: black;
color: white;
}

tbody tr:nth-child(odd) td:nth-child(even) {
    background-color:grey
    }

    tbody tr:nth-child(even) td:nth-child(odd) {
        background-color:grey
        }

